* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  border: 1px dashed black;
}
body {
  background: #FAF8F6;
  width: 90%;
  margin: 20px auto;
}

/* Stying the suite logo */
.logo {
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: #172339;
}

/* Styling the Secondary default button */
.secondary-button {
  float: right;
  background-color: transparent;
  color: #172339;
  border: 1px solid #172339;
  font-family: 'Epilogue', sans-serif;
  font-size: 10px5;
  padding: 8px 16px;
  text-align: center;
  border-radius: 4px;
  

}

.container {
  width: fit-content;
  height: 32px;
  left: 10.73%;
  right: 11.19%;
  top: calc(50% - 32px / 2);
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.16px;
  color: #172339;
  text-align: right;
}

.container {
  box-sizing: border-box;
  left: 0%;
  right: 50%;
  top: 0%;
  bottom: 0%;
  border: 1px solid #172339;
  border-radius: 6px;
  align-items: center;
}
