* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #faf8f6;
  width: 75%;
  margin: 20px auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* TYPOGRAPHY */
.bold {
  font-weight: bold;
}

.regular {
  font-weight: 400;
}

.heading-xl {
  text-align: left;
  font-family: "Epilogue";
  font-size: 72px;
  line-height: 78px;
  letter-spacing: -1px;
  color: #172339;
}

.heading-l {
  font-family: "Epilogue";
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #172339;
}

.heading-m {
  font-family: "Epilogue";
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.2px;
  color: #172339;
}

.heading {
  font-family: "Epilogue";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -2.5px;
  color: #172339;
}

.quote {
  font-family: "Epilogue";
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0px;
  color: #172339;
}

.body {
  text-align: left;
  font-family: "Epilogue";
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #172339;
}

.footer {
  text-align: left;
  font-family: "Epilogue";
  font-size: 15px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #172339;
}

/* Stying the suite logo */
.logo {
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: #172339;
}

/* Styling the Secondary default button */
.primary-button {
  background-color: #172339;
  color: #faf8f6;
  border: 1px solid #172339;
  font-family: "Epilogue", sans-serif;
  font-size: 10px;
  padding: 8px 16px;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
}

/* Styling the Secondary default button */
.secondary-button {
  background-color: #faf8f6;
  color: #172339;
  border: 1px solid #172339;
  font-family: "Epilogue", sans-serif;
  font-size: 10px;
  padding: 8px 16px;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
}

.hero-1 {
  position: relative;
  width: 33.3%;
}

.hero-2 {
  width: 100%;
  position: relative;
}

.hero-3 {
  display: flex;
  flex-direction: column;
}

.hero-3 > p {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.m-b {
  margin-bottom: 20px;
}

.person-div {
  background-color: #172339;
  border-radius: 6px;
}

/* Mobile Screens Only (max-width size 375px) */
@media screen and (max-width: 375px) {
  body {
    background: #faf8f6;
    width: 90%;
    margin: 20px auto;
  }

  .logo {
    font-family: "Epilogue", sans-serif;
    font-size: 32px;
    line-height: 32px;
    margin-top: 8px;
    font-weight: bold;
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #172339;
  }

  .primary-button {
    font-size: 14px;
    width: 70%;
    line-height: 32px;
    letter-spacing: 0.18px;
  }

  .secondary-button {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.14px;
  }

  .hero {
    margin-top: 60px;
  }

  .hero-1 {
    width: 100%;
  }

  .curved-line {
    right: 40px;
    position: absolute;
    width: 45%;
    top: -15px;
  }

  .heading-xl {
    text-align: left;
    font-family: "Epilogue";
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -1px;
    color: #172339;
  }

  .heading {
    letter-spacing: 2.5px;
  }

  .quote {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0;
  }

  .hero-image {
    display: none;
  }

  .hero-image-mobile {
    display: block;
    width: 100%;
  }

  .person-div {
    position: relative;
    top: 150px;
    border-radius: 10px;
  }
  
  .group-person {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .group-person img {
    position: absolute;
  }

  .pattern-blur {
    width: 100%;
  }

  .group-person-text {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .curved-line-2 {
    position: absolute;
  }

}
